
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/* master width of page content */
.the-width { margin: 0 auto; width: 64em; min-width: 70%; max-width: 94%; }
.extend-right-edge { margin-right: -3%; }

#__next { white-space: pre-wrap; min-height: 100vh; }

:root { font-size: 18px; line-height: 1.4; }
body { margin: 0; color: black; background: white; font-family: roboto, sans-serif; }

/* push footer to bottom on screen and print */
#__next { min-height: 100vh; position: relative; }
#__next>:nth-last-child(2) { padding-bottom: 2.5rem; /* room for footer */}
#__next>footer { position: absolute; left: 0; bottom: 0; width: 100%; }
footer { box-sizing: border-box; color: var(--gray); padding: .3em 0 .5em; text-align: center; }

a { color: var(--hyperlink); }
a:not(:hover) { text-decoration: none; }
table { border-collapse: collapse; }
td { padding: 0; }
a img { border: 0; }

hr { border-style: solid none none; border-top-width: var(--border-width); border-color: var(--border-color); }

select { box-sizing: content-box; }

:root {
  --input-natural-content-height: 1.2em;
  --input-margin-x: .05em;
  --input-margin-y: .19em;
  --input-margin: .19em .05em;
  --input-border: 1.5px;
  --input-border-color: rgba(0,0,0,.2);
  --input-padding-top: .1em;
  --input-padding-right: .4em;
  --input-padding-x-radiusless: .2em;
  --input-icon-left-left: calc(var(--input-padding-top) + var(--input-border) + .1em);
  --input-icon-left-pad: calc(var(--input-icon-left-left) + var(--input-icon-font-size) - var(--input-border));
  --input-icon-font-size: 1.1em;
  --input-content: calc(1em * 1.2);
  --input-radius: calc(var(--input-border) + var(--input-padding-top) + var(--input-content) / 2);
}

input, select, textarea, button, a.button { border: var(--input-border) solid; border-radius: var(--input-radius); padding: var(--input-padding-top) var(--input-padding-right); margin: var(--input-margin); }

select { padding-top: calc(var(--input-padding-top) - .7px); padding-bottom: calc(var(--input-padding-top) - .7px); }

input, select, textarea { font-family: inherit; font-size: inherit; border-color: var(--input-border-color); }
[readonly], [disabled] { background: rgba(0,0,0,.07); border-color: transparent; opacity: 1; /* override browser's select:disabled opacity */ }
option[disabled] { background: initial; }

label { display: inline-block; user-select: none; }
label, label input { cursor: pointer; }

button { background: hsl(108, 82%, 37%); background-image: linear-gradient(to bottom, hsl(108, 82%, 50%) 0%, hsla(108, 82%, 37%, 0) 50%, hsl(108, 82%, 20%) 100%); background-origin: border-box; }

button[data-state], button:active { background-image: none; }

button { margin: 0; border: .2em solid; border-color: rgba(255,255,255,.3) rgba(0,0,0,.2) rgba(0,0,0,.3) rgba(255,255,255,.2); padding: .1em .4em; font-family: inherit; font-size: inherit; color: white; cursor: pointer; font-weight: bold; border-radius: 1em; transition: all 500ms; }
button:hover { color: yellow; transition: all 300ms; }
button:active { color: #dd0; border-color: transparent; transition: all 200ms; }
button::-moz-focus-inner { margin: -1px; padding: 0; border-width: 1px; }
button[data-state=hold] { color: #666; background: #ccc; border-color: transparent; cursor: default; }
button[data-state=thanks] { color: #080; background: #cea; border-color: transparent; cursor: default; transition: all 100ms; }
button[data-state=confirm] { color: #0079d4; background: #ace; border-color: #0079d4; cursor: default; }
button[data-state=whoops] { color: #800; background: #eca; border-color: transparent; cursor: default; }
button[disabled] { color: #666; background: #ccc; border-color: #ddd #bbb #bbb #ddd; cursor: default; }

table.fancy { width: 100%; }
table.fancy { border-collapse: collapse; border-radius: 20px; overflow: hidden; }
table.fancy>thead { background: #FED8b1; }
table.fancy>tbody>tr { transition: background 300ms; }
table.fancy>tbody>tr:hover { transition: background 100ms; background: #cdf; }
table.fancy>*>tr>td { border-top: solid 1px #ccc; }
table.fancy>*>tr>th { font-weight: 500; text-align: inherit; }
table.fancy>*>tr>* { padding: .3em .3em; }

.material-icons { position: relative; top: .13em; width: 1em; height: 1em; display: inline-block; overflow: hidden; user-select: none; }

.ellipsis-tooltipped { white-space: pre /*instead of pre-wrap*/; overflow: hidden; text-overflow: ellipsis; }

h1 { }
h2 { font-weight: normal; }
h3 { font-weight: 500; }
h4 { }
h5 { }
h6 { }
