
/*****/


/*@media screen { #outer { position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; /*creates independant, easily measurable scrollview* / } }*/

.the-width { margin: 0 auto; width: 64em; min-width: 70%; max-width: 94%; }

header {
	background: var(--blue);
	color: white;
	padding: 3px;
}
#head-me-circle { float: left; width: 5em; height: 5em; border-radius: 999px; border: solid 2px white; margin-right: 1em; }
header h1 { margin: 0; font-family: Cinzel; }
header p { margin: 0; font-family: Cinzel; }
header::after { content: ""; display: block; clear: both; }



input, select, textarea { margin:4px; font-family: inherit; padding: 2px; border: solid 1px #aaa; border-radius: 4px; font-size: inherit; }



/* colors */
.logo>:nth-child(1), .red { color: hsl(345, 100%, 40%); }
a { color: hsl(208, 100%, 37%); }
.blue { color: #0123B4; }
.logo>:nth-child(3), a:active, .green { color: hsl(108, 82%, 37%); }
.green { color: hsl(108, 82%, 35%); }
.gray { color: #888; }

::selection { background: hsla(208, 100%, 50%, .3); }
::-moz-selection { background: hsla(208, 100%, 50%, .3); }

