
header {
	background: var(--blue);
	color: white;
	padding: 3px;
}
#head-me-circle { float: left; width: 5em; height: 5em; border-radius: 999px; border: solid 2px white; margin-right: 1em; }
header h1 { margin: 0; font-family: Cinzel; font-weight: normal; }
header p { margin: 0; font-family: Cinzel; }
header::after { content: ""; display: block; clear: both; }

#side-by-side-symbols::after { content: ""; display: block; clear: both; }
#side-by-side-symbols { margin-left: -.7em; }
#side-by-side-symbols>article { float: left; width: 20em; border-right: solid 1px var(--gray); padding: .5em .5em .5em .7em; }

.label { display: inline-block; font-size: .9em; color: var(--gray); min-width: 5rem; padding: .2em 0; font-family: 'Roboto Condensed', sans-serif; }

