
/* <span> for SearchableUser.js or other future searchable dropdowns */
.SearchableDropdown { display: inline-block; position: relative; margin: var(--input-margin); }

/* 🔍 and ❌ icons */
.SearchableDropdown>span.material-icons { color: var(--primary); font-size: var(--input-icon-font-size); padding-top: .1em; position: absolute; top: calc(var(--input-padding-top) + var(--input-border)); transition: opacity 300ms; }

/* 🔍 icon */
.SearchableDropdown>span.material-icons:first-child { left: var(--input-icon-left-left); pointer-events: none; }
.SearchableDropdown>span.material-icons:first-child[data-hidden] { opacity: 0; }
.SearchableDropdown>span.material-icons:first-child:not([data-hidden]) { transition-delay: 200ms; }

/* <input> */
.SearchableDropdown>input { box-sizing: border-box; padding-left: var(--input-icon-left-pad); padding-right: var(--input-icon-left-pad); margin: 0; transition: padding 500ms; }
/* <input> padding adjusts depending on whether 🔍 is visible */
.SearchableDropdown>span.material-icons:first-child[data-hidden] + input + input { padding-left: var(--input-padding-right); }

/* ❌ icon */
.SearchableDropdown>span.material-icons:last-of-type { right: var(--input-icon-left-left); cursor: pointer; }
.SearchableDropdown>input::-ms-clear { display: none; }
.SearchableDropdown>input:placeholder-shown + span { opacity: 0; visibility: hidden /* no transition */; }

/* fade out on blur if <input type="hidden"/> has no value yet (span:first-child:not([data-hidden])) */
.SearchableDropdown>:first-child:not([data-hidden]) + input + input:not(:placeholder-shown):not(:focus) { color: hsla(0deg 0% 0% / .3); transition: color 500ms; }
.SearchableDropdown>:first-child:not([data-hidden]) + input + input:not(:placeholder-shown):not(:focus) + span { color: hsla(0deg 0% 0% / .3); transition: color 500ms; }

/******************************************************************************/
/* SearchableDropdownResults.js */

/* hidden if input:not(:focus) or <input type="hidden"/> has value */
.SearchableDropdown>input:last-of-type:not(:focus) ~ div,
.SearchableDropdown>span:first-child[data-hidden] ~ div { opacity: 0; visibility: hidden; pointer-events: none; }

/* position */
.SearchableDropdown>div { position: absolute; left: calc(var(--input-icon-left-pad) - var(--input-padding-right)); right: calc(var(--input-icon-left-pad) - var(--input-padding-right)); transition: opacity 500ms, visibility 500ms; z-index: 1; }
/* child padding consistent */
.SearchableDropdown>div>div>a { padding: var(--input-padding-top) var(--input-padding-right); }
.SearchableDropdown>div>div>.emptiness { padding: var(--input-padding-top) var(--input-padding-right); }

/* look & feel */
.SearchableDropdown>div { background: white; border: solid rgba(0,0,0,.2); border-width: 0 var(--input-border) var(--input-border); border-radius: 0 0 var(--input-radius) var(--input-radius); overflow: hidden; }

.SearchableDropdown>div>div>a { display: block; white-space: nowrap; transition: background 300ms, color 300ms; cursor: pointer; }
.SearchableDropdown>div>div>a:not([data-hovered]) { color: inherit; } /* normal var(--hyperlink) blue upon hovered */
.SearchableDropdown>div>div>a[data-hovered] { background: var(--dropdown-hover-bg); transition: background 100ms, color 300ms; }
.SearchableDropdown>div:active>div>a[data-hovered] { color: var(--hyperlinkActive); transition: background 100ms, color 100ms; }
