/******************************************************************************/

:root {
  --red: hsl(345, 100%, 40%);
  --green: hsl(108, 82%, 37%);
  --blue: hsl(208, 100%, 37%);
  --blue-transparent: hsl(208deg 100% 37% / 0);

  --primary: var(--blue);

  --border-width: 2px;
  --border-color: hsla(208, 60%, 87%, 1);
  --border-color: hsl(108deg 82% 37% / .2);
  --border-radius: 1rem;
  --gray: hsl(0deg 0% 0% / .8);
  --hyperlink: #07C;
}

::selection { background: hsla(208, 100%, 50%, .3); }
::-moz-selection { background: hsla(208, 100%, 50%, .3); }

.red { color: var(--red); }
.blue { color: var(--blue); }
.green { color: var(--green); }
.gray { color: #888; }
.italic { font-style: italic; }
.condensed { font-family: 'Roboto Condensed', sans-serif; }
.slab { font-family: 'Roboto Slab', serif; }

/******************************************************************************/

.halfs { }
.half { float: left; width: 50%; box-sizing: border-box; padding: 0 3%; }

@media ( max-width: 600px ) {
  .halfs:not(.the-sticky) .half { float: none; width: 100%; box-sizing: border-box; padding: 0 3%; }
}

strong { font-weight: 500; }

/******************************************************************************/

em { font-style: inherit; }
.aleft { text-align: left; }
.ib { display: inline-block; }
.italic { font-style: italic; }
.bold { font-weight: bold; }
small, .small { font-size: .85em; }
